/* Imports google fonts for styling*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500;700;800&family=Source+Sans+Pro:wght@300;400;700&display=swap');

/*sets google font-size*/
html,
body {
  font-size: 16px;
}

/*sets headers font size and weight*/
h1,
h2,
.timer {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

/*resets margin and padding across all*/
* {
  margin: 0;
  padding: 0;
}

/*sets background theme colour*/
body {
  background-color: rgb(247, 243, 235);
}

/*flex styling to align and/or justify content*/
.highscore-link h2 {
  justify-self: flex-start;
}

/*flex styling to align and/or justify content*/
.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/*flex styling to align and/or justify content*/
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space;
  align-items: space-between;
  max-width: 60vh;
}

/*flex styling to align and/or justify content*/
.sub-header {
  display: flex;
  flex-direction: space-around;
}

/*flex styling to align and/or justify content*/
.header-container {
  display: flex;
  justify-content: space-between;
}

/*flex styling to align and/or justify content*/
.time-container {
  display: flex;
  margin-right: 1rem;
}

/*timer styling to add some margin aside the header block*/
.timer {
  margin-left: 0.5rem;
}

/*main screen styling to add some margin to question and answer containers*/
.question-container,
.answers-container {
  margin: 2rem;
}

/*styles answers mutliple choice list */
.answers-container li {
  border: 0.1rem solid black;
  margin: 0.5rem;
  padding: 13px 10px;
  list-style: none;
  background-color: rgb(5, 25, 45);
  border-radius: 5px;
  color: white;
  font-family: 'JetBrains Mono', monospace;
}

/*styles answers mutliple choice list with hover effect */
.answers-container li:hover {
  opacity: 0.5;
  font-size: bold;
  background-color: rgb(6, 189, 252);
}

/*sets flex direction to column on scores container*/
.scores-container {
  display: flex;
  flex-direction: column;
}

/*flex styling to align and/or justify content*/
.question {
  display: flex;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.question-id {
  margin-left: 0.5rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.question-text {
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
}

/*flex styling to align and/or justify content*/
.end-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.end-container h2 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
}

/*label styling to submit scores button under*/
label {
  border: 0;
  display: block;
  margin: 0;
  margin-top: 0;
  min-width: 0;
  padding: 0;
  margin-bottom: 12px;
  padding: 0;
  width: 100%;
}

/*styles input under the submit scores container*/

input {
  font-size: 16px;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  background: white;
  border: 0;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px rgb(229, 225, 218);
  box-sizing: border-box;
  display: inline-block;
  font-family: Arial;
  margin: 0;
  vertical-align: baseline;
  -webkit-appearance: none;
  color: rgb(5, 25, 45);
  width: 100%;
  background-color: #e8f0fe;
  margin-bottom: 15px;
}

/*styles the submit button under the submit scores container*/
#submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 15px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.15s;
  border-color: #03ef62;
  color: black;
  background-color: #03ef62; /*green*/
  padding: 0 15 px;
  margin-top: 24 px;
  width: 100%;
}

/*IMPORTANT class used to hide content for interactivity*/
.hidden {
  display: none;
}

/*Adds pointer cursos to the view scores link under the header*/
.highscore-link:hover {
  cursor: pointer;
}

/*Styles paragraph under the first start-container*/
p {
  margin-bottom: 3rem;
}

/*Styles h1 under the first start-container*/
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/*styles all buttons except submit button*/
.btn {
  padding: 1.6em 5em;
  font-size: 1rem;
  line-height: 1;
  background-color: #03ef62;
  border-radius: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 15px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.15s;
  border-color: #03ef62;
  color: black;
  background-color: #03ef62;
  padding: 0 15 px;
  margin-top: 24 px;
  width: 100%;
}

/*Styles scores table with name and score results*/

table {
  border-collapse: collapse;
  width: 100%;
}
thead th {
  background: #ccc;
}

th,
td {
  border: 1px solid #ccc;
  text-align: center;
}

tr:nth-child(even) {
  background: #efefef;
}

tr:hover {
  background: #d1d1d1;
}

/* Styling card that backgrounds main buttons */
.dc-card {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(5, 25, 45, 0.3);
  padding: 57px;
  position: relative;
}

/*High scores table section styling*/
.high-scores {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(5, 25, 45, 0.3);
  padding: 0px;
  position: relative;
  margin-top: 0.5rem;
}

/*Adds margin to clear history and go back buttons*/
.scores-container button {
  margin: 0.25rem;
}

/* Progress bar background color fill  */
.progress-bar {
  background-color: cornflowerblue;
}
