html,
body {
  font-size: 16px;
}

h2,
.timer {
  font-size: 1.5rem;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: rgb(247, 243, 235);
}

.question {
  font-size: 1.5rem;
}

.start-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.time-container {
  display: flex;
  margin-right: 1rem;
}

.timer {
  margin-left: 0.5rem;
}

.question-container,
.answers-container {
  margin: 5rem;
}

.answers-container li {
  border: 0.1rem solid black;
  margin: 0.5rem;
  padding: 0.5rem;
  list-style: none;
}

.answers-container li:hover {
  opacity: 0.5;
  font-size: bold;
}

.question {
  display: flex;
  margin-bottom: 1rem;
}

.question-id {
  margin-left: 0.5rem;
}

.hidden {
  display: none;
}

.btn {
  /* position: center;
  display: block; */
  /* margin: 0 auto; */
  padding: 1.6em 5em;
  /* max-width: 20em; */
  font-size: 1rem;
  line-height: 1;
  /* text-align: center; */
  /* text-decoration: none; */
  background-color: #2da3ee;
  border-radius: 3px;
  /* box-shadow: inset 0 0 7px 0 rgba(white, 0.5);
  background-image: (linear-gradient(#5fc1ff 0%, #0088de 100%)); */
}
