html,
body {
  font-size: 16px;
}

h2,
.timer {
  font-size: 1.5rem;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: rgb(247, 243, 235);
}

.question {
  font-size: 1.5rem;
}

.start-container {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.time-container {
  display: flex;
  margin-right: 1rem;
}

.timer {
  margin-left: 0.5rem;
}

.question-container,
.answers-container {
  margin: 5rem;
}

.answers-container li {
  border: 0.1rem solid black;
  margin: 0.5rem;
  padding: 0.5rem;
  list-style: none;
}

.answers-container li:hover {
  opacity: 0.5;
  font-size: bold;
}

.question {
  display: flex;
  margin-bottom: 1rem;
}

.question-id {
  margin-left: 0.5rem;
}
